/* layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding: 10px;
}

#about-content h3 {
  margin-top: 0;
}

#lane-side_coach_work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #24344f;
}

#study_together_work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #24344f;
}

#vocab_master_work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #24344f;
}

#hero h1 {
  text-align: center;
}

#hero {
  color: #eeeeee;
  text-align: center;
}

#lane-side_coach_work h2 {
  text-align: center;
}

#lane-side_coach_work h3 {
  text-align: center;
}

#study_together_work h3 {
  text-align: center;
}

#vocab_master_work h3 {
  text-align: center;
  width: 100%;
}

#contact h2 {
  text-align: center;
}

#about-content h1 {
  text-align: center;
}

#my_story h2 {
  text-align: center;
}

#main-content h1 {
  text-align: center;
}

#main-content h2 {
  text-align: center;
}

#main-content h3 {
  text-align: center;
}

#main-content h4 {
  text-align: center;
}

#hero {
  background-color: #eeeeee;
  padding: 20px 0;
  display: inline-block;
  width: 100%
}

#linkedin {
  width: 50px;
  text-align: center;
}

#vocab_master_image {
  width: 100%;
  margin: auto;
  text-align: center;
}

#vocab_master_image img{
  height: 300px;
  width: auto;
}

#vocab_master_image_header {
  width: 40%;
  margin: auto;
}

#vocab_master_midfidelity_home {
  width: 40%;
  margin: auto;
}

#mobile_prototype_image {
  width: 40%;
  margin: auto;
}

#desktop_prototype_image {
  margin: auto;
}

#coach_up_logo {
  width: 35%;
  margin: auto;
}

#flash_cards_plus_icon {
  width: 35%;
  margin: auto;
}

#flash_cards_io_icon {
  width: 35%;
  margin: auto;
}

#study_blue_icon {
  width: 35%;
  margin: auto;
}

#low-fidelity_landing {
  width: 40%;
  margin: auto;
}

#study_together_home {
  width: 40%;
  margin: auto;
}

.backgroundhero {
  background-image: url("../img/mountains.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.logowrapper {
  display: inline-block;
  margin: 1em;
  line-height: .5;
}

.logo {
  max-width: 150px;
}

header {
  background-color: #eeeeee;
  padding: 10px 0 4px;
  position: fixed;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
  width: 100%;
}

main {
  padding-top: 60px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #076Dbb
}

nav>ul>li>a:visited {
  color: #076Dbb
}

nav>ul>li>a:hover {
  color: #3190c4
}

nav>ul>li>a:active {
  color: #033f6d
}

.col-sm-12 {
  width: 100%;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
  border-top: 1px #076dbb solid;
  padding: 10px;
}

.navtoggle.responsive li:first-child,
.navtoggle.responsive li:last-child {
  border-top: 0;
}

.navtoggle.responsive li:last-child {
  padding-bottom: 0;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 20px;
}

/* Medium Devices 640px and larger */
@media only screen and (min-width: 640px) {

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  .logo {
    max-width: 250px;
  }

#vocab_master_image {
  width: 35%;
  margin: auto;
}

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
  }

  nav>ul {
    margin: 1em 0;
  }

  main {
    padding-top: 95px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .semibold span{
    font-weight: 500;
    font-size: 20px;
  }

  .col-md-2 {
    width: 16.66%
  }

  .col-md-3 {
    width: 25%
  }

  .col-md-4 {
    width: 33.33%
  }

  .col-md-5 {
    width: 41.66%
  }

  .col-md-6 {
    width: 50%;
  }

  #flash_cards_plus_icon {
    width: 100%;
    margin: auto;
  }

  #flash_cards_io_icon {
    width: 100%;
    margin: auto;
  }

  #study_blue_icon {
    width: 100%;
    margin: auto;
  }

  #low-fidelity_landing {
    width: 30%;
    margin: auto;
  }

  #study_together_home {
    width: 30%;
    margin: auto;
  }

  #mobile_prototype_image {
    width: 30%;
    margin: auto;
  }

  #desktop_prototype_image {
    width: 40%;
    margin: auto;
  }
  #about_pic {
    width: 60%;
    margin: auto;
  }
}

  /* Large Devices 1024px or larger */
  @media only screen and (min-width: 1024px) {
    .col-lg-3 {
      width: 25%;
    }

    .col-lg-4 {
      width: 33.33%;
    }

    .col-lg-5 {
      width: 41.66%;
    }

    .col-lg-6 {
      width: 50%;
    }

    .col-lg-7 {
      width: 58.33%;
    }

    .col-lg-8 {
      width: 66.66%;
    }

    .logo {
      max-width: 250px;
    }

    #vocab_master_image_header {
      width: 25%;
      margin: auto;
    }

    #vocab_master_quotes {
      text-align: center;
      margin: auto;
    }

    #study_together_quotes {
      text-align: center;
      margin: auto;
    }

    #lane-side_coach_quotes {
      text-align: center;
      margin: auto;
    }

    #lane-side_coach_quotes2 {
      text-align: center;
      margin: auto;
    }

    #vocab_master_midfidelity_home {
      width: 25%
    }

    #low-fidelity_landing {
      width: 20%;
      margin: auto;
    }

    #study_together_home {
      width: 25%;
      margin: auto;
    }

    #lane-side_coach_image_header {
      width: 70%;
      margin: auto;
    }

    #coach_up_logo {
      width: 25%;
      margin: auto;
    }

    #mobile_prototype_image {
      width: 20%;
      margin: auto;
    }

    #desktop_prototype_image {
      width: 30%;
      margin: auto;
    }

    #about_pic {
      width: 45%;
      margin: auto;
    }
  }

  /* X-Large devices 1440px or larger */
  @media only screen and (min-width: 1440px) {}
