/*
Colors Used:
Very Dark Blue: #24344f
Dark Blue: #033f6d
Light Blue: #076dbb
Very Light Blue: #3190c4
Light Gray: #eeeeee
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #24344f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

.bold span{
  font-weight: 700;
}

.semibold span{
  font-weight: 500;
}

img {
  width: 100%;
  /* Make images scale correctly  */
}

a {
  color: #076Dbb;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  color: #076Dbb;
}

a:hover,
a:focus {
  color: #3190c4;
  text-decoration: underline;
  /* Underlining when hovering over link */
}

a:active {
  color: #033f6d;
}

.button {
  font-size: 16px;
}

.button.readMore {
  display: inline-block;
  background-color: #076dbb;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #033f6d;
  transition: 0.2s opacity;
}

.button.readMore:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.readMore:active {
  color: #033f6d;
}

.button.readMore.downloadResume {
  display: inline-block;
  background-color: #076dbb;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #033f6d;
  transition: 0.2s opacity;
}

.button.readMore.downloadResume:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.readMore.downloadResume:active {
  color: #033f6d;
}

.button.contact {
  background-color: transparent;
  color: #076dbb;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #076dbb;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #076dbb;
  color: #ffffff;
  text-decoration: none;
}
